{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/guestbook/css/bootstrap.css')  }}" type="text/css" />
{% endblock %}

{% block body %}
    <div class="header">
        <h1>GuestBook</h1>
        <br/>
        <br/>
    </div>

    {% block content %}
    {% endblock %}

    <div class="footer">

    </div>
{% endblock %}
