{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <form class="registration-form" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST">
        {{ form_widget(form) }}

        <input class="submit" type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />

    </form>
{% endblock fos_user_content %}
